


.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }


  .right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }


  #bg { 
    background-image: url("MTI5MzY3NjMxODg2MDY0MDk0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }


  
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }