.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;   
}
.circle-container{
    width: 100%;
    color: white;
}
.circular--square {
    border-radius: 100%;
    width: 100%;
    margin: 1%;
  }

.members {
    background: #212529b5;
    border-radius: 5px;
    padding: 20px;
     
    
}
.img{
    
}