<div class="form_container">

    <form action="/ThankYou">
        <input type="text" id="duration" name="duration" placeholder="duration" class="input">
        <input type="button" class="search" value="Build Table" onclick="showTable()">
        <input type="submit" class="search" value="Insert">
    </form>
</div>
<div id="table_containet">
</div>