

<div class="header-container">
    <h1>Make my trip</h1>
    <h4>we can to help anyware</h4>

</div>

<div class="container-fluid">
    <div class="text-center">

        <div>
            <h2 style="color: white;">Our TEAM</h2>
            <div class="row">

                <div class="members offset-md-1 col-md-2 mr-2">


                    <img class="circular--square"
                        src="/public/Image/71263537_10213550624310006_5365441938377932800_n.jpg" alt="Avatar">
                    <h4>Elias Salom</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                    <a href="#" class="btn btn-primary">Read Details</a>
                </div>
                <div class="members col-md-2  mr-2">

                    <img class="circular--square"
                        src="/public/Image/53188078_2217619031609582_5293832279364206592_o.jpg" alt="Avatar">
                    <h4>Omair Issa</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                        <a href="#" class="btn btn-primary">Read Details</a>
                </div>
                <div class="members col-md-2  mr-2">

                    <img class="circular--square" src="/public/Image/78219130_465582560759162_555756304107307008_n.jpg"
                        alt="Avatar">
                    <h4>Firas Smael</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                    <a href="#" class="btn btn-primary">Read Details</a>
                </div>
                <div class="members col-md-2  mr-2">

                    <img class="circular--square"
                        src="/public/Image/62036182_10162023313815525_245321050114490368_o.jpg" alt="Avatar">
                    <h4>Mohamed Diab</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                    <a href="#" class="btn btn-primary">Read Details</a>
                </div>
                <div class="members col-md-2  mr-2">

                    <img class="circular--square" src="/public/Image/72669501_2477729579009962_509176456069251072_o.jpg"
                        alt="Avatar">
                    <h4>Eli Maron</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                    <a href="#" class="btn btn-primary">Read Details</a>
                </div>
            </div>
        </div>
    </div>
</div>