<div class="header-container">
    <h1>Make my trip</h1>
    <h3>we can to help anyware</h3>

</div>
<div class="container">
    <div class="text-center">

        <div class="circle-container">
            <h2>Our TEAM</h2>

            <div class="members col-md-3 col-sm-3 col-xs-3">

                <img class="circular--square" src="/public/Image/71263537_10213550624310006_5365441938377932800_n.jpg"
                    alt="Avatar">
                <h4>PROJECT NAME</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
                <a href="#" class="btn btn-primary">Read Details</a>
            </div>

            <div class="members col-md-3 col-sm-3 col-xs-3">

                <img class="circular--square" src="/public/Image/71263537_10213550624310006_5365441938377932800_n.jpg"
                    alt="Avatar">
                <h4>PROJECT NAME</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
                <a href="#" class="btn btn-primary">Read Details</a>
            </div>

            <div class="members col-sm-3 col-xs-3">

                <img class="circular--square" src="/public/Image/71263537_10213550624310006_5365441938377932800_n.jpg"
                    alt="Avatar">
                <h4>PROJECT NAME</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
                <a href="#" class="btn btn-primary">Read Details</a>
            </div>
            
            <div class="members  col-sm-3 col-xs-3">

                <img class="circular--square" src="/public/Image/71263537_10213550624310006_5365441938377932800_n.jpg"
                    alt="Avatar">
                <h4>PROJECT NAME</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p>
                <a href="#" class="btn btn-primary">Read Details</a>
            </div>

        </div>
    </div>
</div>