<div id="map"></div>

    <script>
      var locations = [
        {lat: 31.7819957, lng: 35.2213692},
        {lat: 31.7805758, lng: 35.21608459999999},
        {lat: 31.8015393, lng: 35.1417576},
        {lat: 31.7800221, lng: 35.2186346},
        {lat: 31.769282,  lng: 35.191353},
        {lat:31.7628772,    lng: 35.1805419}
      
      ]   
         function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}
        var city = getUrlVars()["city"];
    
                      
  
      function initMap() {
    let loc=[];
    let geocoder = new google.maps.Geocoder();
    // next line creates asynchronous request
    geocoder.geocode( {'address': city}, function(results, status) {
      // and this is function which processes response
         if (status == google.maps.GeocoderStatus.OK) {
        loc[0]=String(results[0].geometry.location.lat());
        loc[1]=String(results[0].geometry.location.lng());
         var myOptions = {
                zoom: 13 ,
                center: results[0].geometry.location,
            }
            var map = new google.maps.Map(document.getElementById("map"), myOptions);
            
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
         var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });
             // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
         }
    });
   
      }
     
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB-W8CUuBexZABJ-S77ZeABOo7TKyPGFs&callback=initMap">
    </script>