<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Trip Maker</h3>
            </div>
            <div class="card-body">
                <form class="form-style">
                    <select name="country" class="selectors countries" id="countryId">
                        <option value="">Select Country</option>
                    </select>
                    <select name="state" class="selectors states" id="stateId">
                        <option value="">Select State</option>
                    </select>
                    <select name="city" class="selectors cities" id="cityId">
                        <option value="">Select City</option>
                    </select>
                    <div class="start-date">
                        <select name="day" class="date-selectors start-day">
                            <option value="">01</option>
                        </select>
                        <select name="month" class="date-selectors start-month">
                            <option value="">01</option>
                        </select>
                        <select name="year" class="date-selectors start-year">
                            <option value="">2000</option>
                        </select>
                    </div>
                    <div class="end-date">
                        <select name="day" class="date-selectors end-day">
                            <option value="">01</option>
                        </select>
                        <select name="month" class="date-selectors end-month">
                            <option value="">01</option>
                        </select>
                        <select name="year" class="date-selectors end-year">
                            <option value="">2000</option>
                        </select>
                    </div>
                    <input type="submit" value="Start" class="btn float-right login_btn">
                </form>

            </div>
        </div>
    </div>
</div>