<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Trip Maker</h3>
            </div>
            <div class="card-body">
                <center>
                <form class="col-md-4 text-center">
                    <div>
                        <select name="country" class="countries" id="countryId">
                            <option value="">Select Country</option>
                        </select>
                        </div>
                        <div>
                        <select name="state" class="states" id="stateId">
                            <option value="">Select State</option>
                        </select>
                        </div>
                        <div>
                        <select name="city" class="cities" id="cityId">
                            <option value="">Select City</option>
                        </select>
                        </div>
                        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                        <script src="//geodata.solutions/includes/countrystatecity.js"></script>
              
                    <div >
                        <input type="submit" value="Start" class="btn float-right login_btn">
                    </div>
                </form>
                </center>
            </div>
        </div>
    </div>
</div>